extends ../layouts/default
	
block content
	.ebla
		h2.namesfaces Names & Faces
		.team Blablablla

		.face.Alexander
			p Alexadner Turin. Founder, Designer
		.face.Ruslan
			p Ruslan Gilmanov Executive Director
		.face.Oleg
			p Oleg Seredyuk Designer
		.face.Alex
			p Alex Sosnov PR, Comunications
		.face.Sergey
			p Sergey Samusenko Techologies & Development
