extends ../layouts/default
	
block content
	.ebla.content
		.hiebla
			h2.namesfaces Names & Faces
			.team Blablablla
		
		
		
		.Alexander
			p Alexadner Turin. Founder, Designer
		.Ruslan
			p Ruslan Gilmanov Executive Director
		.Oleg
			p Oleg Seredyuk Designer
		.Alex
			p Alex Sosnov PR, Comunications
		.Sergey
			p Sergey Samusenko Techologies & Development

			
