extends ../layouts/default

	
block content
	script(src='/script/dojo.js')
	script(src='/script/windy.js')
	script(src='http://js.arcgis.com/3.8compact')
	script(src='/script/wind.js')
	.slider
		
		#mapCanvas
	.tagline
		h2 Design the Experience	
		
	.hellotext
 
		span.bg The Wind is a San Francisco based Design team. We are 
		span.bg empowered by design-thinking & thirst for perfection.
		span.bg Practical design is our primary cause and ultimate
		span.bg motivation.
		span.text The Wind is a San Francisco based Design team. We are empowered by design-thinking & thirst for perfection. Practical design is our primary cause and ultimate motivation. 

	
	.homecontent