extends ../layouts/default
	
block content
	script(src='/script/dojo.js')
	script(src='/script/windy.js')
	script(src='http://js.arcgis.com/3.8compact')
	script(src='/script/wind.js')

	#body
	
		
		.slider
			#error Unfortunately, your browser does not support all of the required features. Go away	
			canvas#render(width='1', height='1')
			script(src='/script/tree/shared.js')          
			script(src='/script/tree/ui.js')           
			script(src='/script/tree/flow.js')
			script(src='/script/tree/main.js')
			script(src='/script/tagline.js')
			
			.tagline Hi. We are the wind
			.arrow
			a.button.icon-down Who we are and what we do		
			
				
			
		.intro
			p We are team of brainsick humans, designers, artists & scientists. <br>We feel the internet, think brands, empowered by design-thinking <br>and forced by thirst for perfection. Practical & aesthetic design is <br>our primary cause and ultimate motivation. 
			
			
					
				.wedo
					p We do not have a packages of sevices. Every project is unique and has a different aproach depending on objective. We concentrate on two basic startpoints
		video#hawkhill(autoplay='', loop='', poster='54.183.64.164/raw-media/first-frame-screencap', muted='')
			source(src="../images/hawkhill.mp4" type='video/mp4')
		
			.services
				.serviceblock
					.block
						h2 Identity  
						p Brand is something people perceive therefore experience. This experience must at all times be distinctive in order to relay the right message and realize its primary cause. We achieve this by a multi-level analysis and implementation of technologies designed to achieve an objective.
							
					.block
						h2 Interaction
						p Right experience is always conducted through interaction which presumes an interface. Thereby, in order to ensure the quality of interaction all the touchpoints i.e. products, websites, mobile apps, print or advertising must embody a thought-out minimalistic interface.
					
					
				.projectslinkbox
						.prbutton.projectslink See our projects
							
	
		
					

					
	
		
	
	
	