extends ../layouts/default
	
block content

	.body
		.home
			//vertical
			.slider
				#error Unfortunately, your browser does not support all of the required features. Go away	
				canvas#render(width='1', height='1')
				script(src='/script/tree/shared.js')          
				script(src='/script/tree/ui.js')           
				script(src='/script/tree/flow.js')
				script(src='/script/tree/main.js')
				script(src='/script/tagline.js')
				
				.tagline Hi. We are the wind
				
			a.button.icon-down(onclick="$('.projects').addClass('vis');$('.home').addClass('invis')") Who we are and what we do		
		
			.scroller 
				.intro
					
					p We are brainsick humans, designers, artists & scientists. <br>We feel the internet, think brands, empowered by design-thinking <br>and forced by thirst for perfection. Practical & aesthetic design is <br>our primary cause and ultimate motivation. 
				.services
					.serviceblock
						.block
							h2 Branding & Identity 
							p Brand is something people perceive therefore experience. This experience must at all times be distinctive in order to relay the right message and realize its primary cause. We achieve this by a multi-level analysis and implementation of technologies designed to achieve an objective.
								
						.block
							h2 Interaction
							p Right experience is always conducted through interaction which presumes an interface. Thereby, in order to ensure the quality of interaction all the touchpoints i.e. products, websites, mobile apps, print or advertising must embody a thought-out minimalistic interface.
					
					
				.projectslinkbox
						.prbutton.projectslink See our projects
				//.Fundamentals
			
	
					
				//.Lastproject
					h2 < Design Thinking >
					p Thousands of years humanity has been creating tools, improving life and reaching global and personal goals. <br>Nothing changes: technologies evolve - principle remains. 
					p.number Wind Fundamental 1 of 9
					

					
	
		
	
	
	