extends ../layouts/default
	
block content
	body
		#error
			Unfortunately, your browser does not support all of the required features. You can still view a 
			a(href='http://youtu.be/a0hJAZfIRvE') video.
             
		canvas#render(width='1', height='1', style='background: black;')
         
		script(src='/script/tree/shared.js')
           
		script(src='/script/tree/ui.js')
            
		script(src='/script/tree/flow.js')
		script(src='/script/tree/main.js')
		
	
	
	