extends ../layouts/default

	
block content

	.tagline
			h2 Design the Experience	
	script(src='/script/dojo.js')
	script(src='/script/windy.js')
	script(src='http://js.arcgis.com/3.8compact')
	script(src='/script/wind.js')
	.slider
		#mapCanvas
	
	