extends ../layouts/default
	
block content
	ul.categories
		li Advertising    
		li App   			
		li Branding   
		li Product Design  		  
		li Photography  
		li Web   
		li Everything				
	.projects
		each portfolio in portfolios			
			a.project(href="/portfolio/"+portfolio.key)
				//h2= portfolio.name
				img(src="../../files/"+portfolio.thumbnail.filename)
	.clear
				
