extends ../layouts/default
	
block content
	#categories
		ul
			li  Internet
			
	.projects
	
		#project
			each portfolio in portfolios
				a.project(href="/portfolio/"+portfolio.key)
					//h2= portfolio.name
					img(src="../../files/"+portfolio.image.filename)
				
