extends ../layouts/default



	
block content

	script(src='/script/dojo.js')
	script(src='/script/windy.js')
	script(src='http://js.arcgis.com/3.8compact')
	script(src='/script/wind.js')
	.Principles
	#mapCanvas
	
	.fundamental
		h2 Design thinking
		p Thousands of years humanity has been creating tools,<br> improving lifeand reaching global and personal goals.<br> Nothing changes: technologies evolve - principle remains. 
		

