extends ../layouts/default

	
block content

	.principlestop
		h2 The wind 9 Principles
	//.princip		
		h2 CREATE TOOLS
		p Thousands of years humanity has been creating tools, improving life and reaching global and personal goals. Technologies evolve - principle of design thinking remains. 

		h2 EMPATHY
		p The first thing to understand is why and for whom something is being created. We feel the end-user and sincerely believe in what we do.

		h2 QUESTION EVERITHING
		p Nothing is static. Everything is dynamic. The only way to evolve is to rethink the experience of past and get most progressive blablabla for now and for a future. We are not habutually tied to certain technologies and are always hungry for the most progressive way. Survival of the fittest. 

		h2 HUMAN FACTOR
		p Feelings, emotions, reflexes, thoughts, reactions, memories. These are basic touchpoints between a user and a product.
		
		h2 MINIMALISM
		p Do not overcomplicate things. To provide perfect experience every solution must be motivated by a practical cause.

		h2 RESPECT
		p We respect and embrace thought-out opinions that differ from ours and are always open for a pragmatic compromise. But we never go against ourselves if an argument is null.

		h2 PRACTICE
		p A theory is useless until it’s proved by practice.

		h2 MISTAKE IS POSSIBLE
		p Spoting a mistake gives an opportunity to fix it. Although, crucial is ability to accept its probability on every stage.

		h2 GRAVITY 



